.result {
    color: gray;
}

.brief-title {
    margin-bottom: 0px;
}

.brief-comment {
    color: gray;
    padding-top: 1px;
    padding-bottom: 2px;
}

.brief-list h3 {
    font-size: 20px;
}

.highlight {
    color: #c00;
}

.time-block {
    padding: 10px;
    padding-bottom: 0px;
}

#bg-time {
    margin-bottom: 3px;
}
#ed-time {
    margin-top: 3px;
    margin-bottom: -5px;
}